.drawer_main {
  background-color: var(--main-theme);
  opacity: 0.8;
  width: 100%; /* Set width to 100% of the viewport width */
  height: 1920; /* Set height to 100% of the viewport height */
  padding: 0;
  margin: 0;
  position: absolute;
  top: 1;
  z-index: 1000;
}
.drawer_main .links {
  height: 100vh;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: var(--fs-xl);
  gap: 30px;
}
