.img_sec_about {
  padding: 50px;
  background-color: var(--main-theme);
  color: var(--text-theme);
  min-height: 600px;
  height: auto;

  border-bottom: 1px solid var(--light-theme);
}
.img_sec_about .img {
  margin: 0 auto;
  padding: 50px;
  background-color: var(--main-theme);
  color: var(--text-theme);
  height: 600px;
  max-width: 600px;
  width: 100%;
}
