.button_main {
  max-width: 200px;
  background-color: var(--link-theme);
  padding: 8px 24px;
  color: var(--main-theme);
  border-radius: 30px;
  border: none;
  font-weight: 600;
  text-wrap: nowrap;
  font-size: var(--fs-sm);
}

.button_main:hover {
  /* Removed "button" before ":hover" */
  background-color: var(--hover-theme); /* Corrected "ragb" to "rgba" */
}

button:disabled {
  cursor: not-allowed;
}
