.main_dashborad {
  background-color: var(--main-theme);
  height: 300px;
}

.wrapper_inner {
  color: var(--light-theme);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper_inner h2 {
  font-size: 50px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: var(--heading-theme);
}
.wrapper_inner h2:hover {
  cursor: pointer;
  color: var(--link-theme);
}
